/*
Author: Hayford - heyphord@gmail.com


/*----------------------------*\
	HERO image
\*----------------------------*/

#hero-image{
  
  background-color: var(--secondary-color);
}



 
/*----------------------------*\
	Front Page Caption
\*----------------------------*/


#frontpage-caption hr{
  
    margin-top: -10px;
    width: 150px;
    border-top: 3px solid var(--primary-color);
}



#frontpage-caption h1,#frontpage-caption h4{
  color: white;
}



/*----------------------------*\
	 mission-statement
\*----------------------------*/


#mission-statement h5{

  color: black;
  
  
}

/*----------------------------*\
	VISION
\*----------------------------*/

#vision{
    background-color: #F5F5F5;
  }
  #vision img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
  
  }
  #vision p{
  
    color: black;
    font-size: 1.3em;
    
  }
  
/*----------------------------*\
	GOALS
\*----------------------------*/

#goals{
  background-color: #f7ebe4;
  margin-top: -10px;
  color: var(--secondary-color);
}
#goals .goals-item{
    background-color: white;
  border: var(--secondary-color) 1px solid;
  border-radius: 5%;
  
}






/*=========================================================
	13 -> RESPONSIVE
===========================================================*/

@media only screen and (max-width: 1201px) {
  #main-header li{
    font-size: 1.5em;
    
    }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {
/*----------------------------*\
	FRONT PAGE CAPTION
\*----------------------------*/

  #frontpage-caption{
  
    height: 400px;
    padding-top: 8%;
  }
  
  
  #frontpage-caption h1{
    font-size: 2.5em;
  }


}
