/*
Author: Hayford - heyphord@gmail.com


 
/*----------------------------*\
	HERO image
\*----------------------------*/

#hero-image{
  background-image: url(../img/big-image-bg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*----------------------------*\
	Front Page Caption
\*----------------------------*/


#frontpage-caption{
  
  height: 500px;
  padding-top: 8%;
}


#frontpage-caption h1{
  color: white;
}



/*----------------------------*\
	OUR MISSION
\*----------------------------*/

#mission{
  background-color: #F5F5F5;
}
#mission img{
  height: 200px;
  width: 200px;
  border-radius: 50%;

}
#mission p{

  color: black;
  font-size: 1.3em;
  
}

/*----------------------------*\
	SUPPORT
\*----------------------------*/

#support{
background-image: url(../img/Donate-Volunteer.png);
background-size: cover;
background-position: center;
/* height: 400px; */
}

#support .volunteer{

  height: 300px;
}

#support .donate{
height: 300px;
}

#support .donate-text-wrapper{
position: absolute;
bottom: 2%;  
right: 1%;
}
#support h1{
  
  color: white;
}

/*----------------------------*\
	Gallery
\*----------------------------*/

#gallery{
  background-color: #f7ebe4;
  margin-top: -10px;
}
#gallery .gallery-item{

  /* width: 200px;  */
  /* height: 250px; */
  border: var(--secondary-color) 1px solid;
  /* margin-right: 10px;; */
  /* border: #E4BF64 5px solid; */
  /* margin: auto; */
}

#gallery .gallery-item img{

  height: auto;
  width: 100%; 
  
  /* border-radius: 50%; */
  /* margin: auto; */
} 

/*----------------------------*\
	Team
\*----------------------------*/

#team .team-item{
  /* width: 100px; */

}

#team h6{
  color: var(--primary-color)
}
#team img{
  width: 100%;
  height: auto;
}
/*----------------------------*\
	Contact Us
\*----------------------------*/

#contact{
  background-image: url('/img/contactus-bg.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#contact h1 ,#contact h4 {
  color: white;
  

}

#contact #contact-inputs{

  padding: 0px 10px;
}


/*=========================================================
	13 -> RESPONSIVE
===========================================================*/

@media only screen and (max-width: 1201px) {
  #main-header li{
    font-size: 1.5em;
    
    }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {
/*----------------------------*\
	FRONT PAGE CAPTION
\*----------------------------*/

  #frontpage-caption{
  
    height: 400px;
    padding-top: 8%;
  }
  
  
  #frontpage-caption h1{
    font-size: 2.5em;
  }

/*----------------------------*\
	SUPPORT
\*----------------------------*/
  
  #support .volunteer{
  
    height: 280px;
  }
  
  #support .donate{
  height: 280px;
  }
  

}
